# .env File
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom Ignores
.cache
.cache/
package-lock.json
src/assets/css
src/assets/css/*
src/assets/css/app.css
tsconfig.old.json
tsconfig.node.old.json